@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  min-height: 100vh;

}
#root {
  width: 100%;
  min-height: 100vh;

}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Permanent marker', cursive;
  width: 100%;
  min-height: 100vh;
  color: white;
}
.App > div {
  flex: 1;
}
.navigation {
  height: 20vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding-bottom: 5px;
}
.nav-options {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.option {
  font-size: xx-large;
}
.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

a {
  color: orange;
  text-decoration: none;
}
.main-paintings {
  margin-bottom: 50px;
}
.main-paintings a {
  width: 50%;
}

 img {
  width: 80%;
  height: auto;
}

.main-paintings img {
  width: 50%;
  height: auto;
}

.Painting {
  margin-bottom: 50px;
}

.main-paintings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.loading-icon {
  margin: auto;
}
.App-link {
  color: #61dafb;
}

.main-nfts {
  width: 100%;
  color: white;
  margin-bottom: 25px;
}
.main-nfts iframe {
 min-width: 90vw;
  min-height: 90vh;
  overflow: scroll;
}

.main-bio {
  display: grid;
}

.main-bio section {
  grid-column: 1 / 2;
}
.main-Home p {
  font-size: x-large;
}

.main-bio p {
  font-size: x-large;
}

.main-Home {
  width: 75%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-blog {
}

footer {
  display: flex;
  flex-direction: column;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(82,5,123,1) 100%);
  min-height: 10vh;
  width: 100%;
  align-self: flex-end;
  padding-bottom: 20px;
}

.instagram-link {
  justify-items: flex-start;
  align-self: flex-end;
  padding-left: 3vw;
  padding-right: 3vw;
}

.subscribe-form {
  justify-self: center;
}

.subscribe-form button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color: orange;
  text-align:center;
  transition: all 0.2s;
}

.subscribe-form button:hover {
  background-color:#4095c6;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    width: 45px;
    height: 45px;
    z-index: 1;
  }
  .mobile-menu {
    display: block;
  }

  .nav-options {
    display: flex;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(82,5,123,1) 100%);
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    margin-top: 10vh;
  }
  .option {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }

  .main-paintings {
    flex-direction: column;
  }
  .main-paintings a {
    width: 75%;
    height: auto;
    margin: auto;
  }
  .main-paintings img {
    width: 75%;
    height: auto;
  }

  .instagram-link {
    font-size: 0;
    padding-top: 3vh;
    margin: auto;
  }
  .subscribe-form {
    margin: auto;
  }
}