@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: black;
  height: 100%;

}
#root {
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
  font-family: 'Permanent marker', cursive;
  height: 100%;
  width: 100%;
  color: white;
}
.navigation {
  height: 20vmin;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 15px;
}
.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding-bottom: 5px;
}
.nav-options {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.option {
  font-size: xx-large;
}
.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

a {
  color: orange;
  text-decoration: none;
}
.main-paintings {
  margin-bottom: 50px;
}
.main-paintings a {
  width: 50%;
}
.main-paintings img {
  width: 50%;
  height: auto;
}

.Painting {
  margin-bottom: 50px;
}
.Painting img {
  width: 80%;
  height: auto;
}
.main-paintings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    width: 45px;
    height: 45px;
  }
  .mobile-menu {
    display: block;
  }

  .nav-options {
    display: flex;
    width: 100%;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: #9899d1;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
  }
  .option {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }

  .main-paintings {
    flex-direction: column;
  }
  .main-paintings a {
    width: 75%;
    height: auto;
    margin: auto;
  }
  .main-paintings img {
    width: 75%;
    height: auto;
  }
}

.App-link {
  color: #61dafb;
}

.main-nfts {
  height: 100%;
  width: 100%;
color: white;
}
iframe {
  height: 100%;
  width: 80%;
  overflow: scroll;
}

.main-bio {
  width: 75%;
  height: auto;
  margin: auto;
}

section p {
  font-size: x-large;
}
.main-Home p {
  font-size: x-large;
}

.main-Home {
  width: 75%;
  height: auto;
  margin: auto;
}